.midle__top h2{
    font-weight: bolder;
}
.midle_top p,.midle_bottom h2 h3{
    font-weight: bold;
}
.new, .midle_bottom p{
    font-weight: normal;
}
.midle__top h2, .midle_bottom h2{
    font-size: x-large;
}
.midle_bottom h3 p{
    font-size: large;
}
.midle__top p{
    font-size: medium;
}
.new{
    font-size: small;
}
