footer{
    padding: 0 $marge 30px $marge !important;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    background-color:$colour-dark;
    margin:0;
    ul{
        width: 100%;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        list-style-type: none;
        li{
            margin-bottom: 10px;
            a{
                color: white;
                i{
                    margin-right:15px;
                }
            }
        }
        :nth-child(2) i{
            transform: rotate(145deg);
            margin-right:8px;
        }
    }
    >p img{
        filter: invert(100%);
        width: 35%;
    }
}
@media screen and (min-width:670px){
    footer{
        padding: 25px $marge 15px $marge;
        
        align-items: center;
        p{
            width: min-content;
            img{
               width: 270px;
            }
        }
        ul{
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
    }
}
@media screen and (min-width:950px){
    footer{
        margin: 0;
        padding: 0 $marge 0 $marge;
        flex-direction: column;
        height: 11vh;
        justify-content: space-between;
        img{
            display: none;
        }
    }
}