.list_plat li{
    border-radius: 10px;
    overflow: hidden;
    .btn_plat{
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        .btn_plat__info{/*partit plat*/
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            padding: 10px 0 10px 10px;
            overflow: hidden;
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
            }
        }
        .btn_plat__price{/*partit prix*/
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 10px 0 15px 10px;
            p{
                margin: 0;
            }
        }
        .validate{
            position: relative;
            width: 0;
            left:50px;
            background-color: #00fa9a6b;
            padding: 0 5px 0 15px;
            margin: 0 0 0 15px;
            height: 70px;
            i{       
                color: white;
                font-size:30px;
                position: relative;
                right: 20%;
                top:30%;
            }
        }
    }
}