.list_plat li{
    border-radius: 10px;
    overflow: hidden;
    .btn_plat{
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        .btn_plat__info{/*partit plat*/
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            padding: 10px 0 10px 10px;
            overflow: hidden;
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
            }
        }
        .btn_plat__price{/*partit prix*/
            //display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 10px 0 15px 10px;
            position: relative;
            margin-right: 7px;
            position: absolute;
            right: 27px;
            top:28px;
            p{
                margin: 0;
            }
        }
        .validate{
            position: relative;
            width: 0px;
            left:55px;
            background-color: #00fa9a6b;
            padding: 0 15px 0 30px;
            margin: 0 0 0 38px;
            height: 70px;
            display: flex;
            align-items: center;
            i{       
                position: relative;
                left: -32%;
                color: white;
                font-size:30px;
            }
        }
    }
}